*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.box1{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-top: 3%;
    text-transform:uppercase;
}
.box1 a{
    margin-left: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
input{
    margin-left: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 5px;
    
}
.box2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
   align-items: center;
   background-image: url('./watches.jpg');
   background-repeat: no-repeat;
   background-position:1000px;
   background-size: 45%;
   border-bottom: 1px solid grey;
}
.box3{
    padding-right: 50%;
}
.box3 h2{
    width: 450px;
    margin-top: 20%;
    padding-left: 10%;
    margin-bottom: 3%;
    font-weight: bold;
}
.box3 p{
    width: 450px;
   border-left: 5px solid gray;
   padding:10px;
}
.box3 button{
    margin-left: 13%;
    margin-top: 5%;
    padding: 10px 30px;
    border: 1px solid red;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s;

}
.box3 button:hover{
    border: 1px solid black;
    color:red;
    background-color: black;
    box-shadow: 0 0 20px 10px;
    transform: scale(1.1);
}
.box5{
    width: 100%;
    height: 45vh;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.box6 h3{
    width: 350px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5%;
    padding-left: 20%;
}
.box6 p{
    text-align: justify;
    padding-left: 20%;
  
}
.nom{
    color: red;
    margin-top: 3%;
}

.box8{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-around ;
    align-items: center;

}
.box9{
    width: 400px;
    height: 300px;
    margin-left: 50px;
}
.box9 h2{
    width: 300px;
    padding-left: 12%;
    margin-bottom: 3%;
}
.box9 p{
    width: 400px;
    padding-left:10px;
    border-left: 5px solid gray;
}
.box9 button{
    margin-left: 10%;
    margin-top: 5%;
    padding: 10px 30px;
    border: 1px solid red;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s;

}
.box9 button:hover{
    border: 1px solid black;
    color:red;
    background-color: black;
    box-shadow: 0 0 20px 10px;
    transform: scale(1.1);
}
.box10{
  width: 500px;
  height: 500px;
  margin-top: -20%;

   
}

footer{
        display: flex;
        width: 100%;
        height: 50vh;
        align-items: center;
        background-image: url("./runners.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
}
.box11{
    width: 50%;
}
.box12{
    width: 500px;
    height: 200px;
}
.box12 h2{
    width: 450px;
    padding-left: 7%;
    margin-bottom: 3%;
    font-weight: bold;
    color:white;
}
.box12 p{
    width: 450px;
    color:white;
    border-left: 5px solid gray;
    padding: 10px;
}
.box12 button{
    margin-left: 8%;
    margin-top: 3%;
    padding: 10px 30px;
    border: 1px solid red;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.4s;

}
.box12 button:hover{
    border: 1px solid black;
    color:red;
    background-color: black;
    box-shadow: 0 0 20px 10px;
    transform: scale(1.1);
}